@model PagedList.IPagedList<appraisal.Models.emp>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{SelectList itemsPerPageList = appraisal.Models.DefaultValues.ItemsPerPageList;}
@{
    ViewBag.Title = "員工清單";
}

<h2>員工清單</h2>

<p>
    @Html.ActionLink("新增員工", "Create", new { Page = Model.PageNumber, itemsPerPage = ViewBag.CurrentItemsPerPage, sortOrder = ViewBag.OldSortParm, searchString = ViewBag.CurrentFilter })
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, itemsPerPage = ViewBag.CurrentItemsPerPage, sortOrder = ViewBag.OldSortParm, searchString = ViewBag.CurrentFilter })
                    , new PagedListRenderOptions { LinkToFirstPageFormat = "<<首頁", LinkToPreviousPageFormat = "<上一頁", LinkToNextPageFormat = "下一頁>", LinkToLastPageFormat = "末頁>>", MaximumPageNumbersToDisplay = 5 })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().id)
        </th>
        <th>
            @Html.ActionLink("卡號", "Index", new { page = 1, itemsPerPage = ViewBag.CurrentItemsPerPage, sortOrder = ViewBag.NameSortParm, searchString = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().cname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().dept)
        </th>
        <th>
            @Html.ActionLink("部門名稱", "Index", new { page = 1, itemsPerPage = ViewBag.CurrentItemsPerPage, sortOrder = ViewBag.DateSortParm, searchString =  ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.eid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dept)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dep.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.ActionLink("編輯", "Edit", new { id = item.id, Page = Model.PageNumber, itemsPerPage = ViewBag.CurrentItemsPerPage, sortOrder = ViewBag.OldSortParm, searchString =  ViewBag.CurrentFilter }) |
            @Html.ActionLink("明細", "Details", new { id = item.id, Page = Model.PageNumber, itemsPerPage = ViewBag.CurrentItemsPerPage, sortOrder = ViewBag.OldSortParm, searchString =  ViewBag.CurrentFilter }) |
            @Html.ActionLink("刪除", "Delete", new { id = item.id, Page = Model.PageNumber, itemsPerPage = ViewBag.CurrentItemsPerPage, sortOrder = ViewBag.OldSortParm, searchString = ViewBag.CurrentFilter })
        </td>
    </tr>
}

</table>
@if (Model != null && Model.PageCount > 0)
{
    <div>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    </div>
}
@using (Html.BeginForm())
{
    if (Model != null)
    {
        <fieldset>
            設定每頁筆數 :
            @Html.DropDownList("ItemsPerPage", itemsPerPageList, new { @id = "ItemsPerPageList" })
            尋找關鍵字(輸入*可以取消查詢條件): @Html.TextBox("searchString")
            前往頁次: @Html.TextBox("page")
            <input type="submit" value="送出" />
        </fieldset>
    }
}