@model appraisal.Models.ts

@{
    ViewBag.Title = "新增";
}

<h2>新增</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>評核資料</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.emp, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.emp, (IEnumerable<SelectListItem>)ViewBag.DropDownList2, "---選擇員工---")
                @Html.ValidationMessageFor(model => model.emp)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.exm, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.exm, (IEnumerable<SelectListItem>)ViewBag.DropDownList1, "---選擇評核類別---")
                @Html.ValidationMessageFor(model => model.exm)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.boss, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.boss, (IEnumerable<SelectListItem>)ViewBag.DropDownList2, "---選擇主管---")
                @Html.ValidationMessageFor(model => model.boss)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vl, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vl)
                @Html.ValidationMessageFor(model => model.vl)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.suggest, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.suggest)
                @Html.ValidationMessageFor(model => model.suggest)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lockAudit, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lockAudit)
                @Html.ValidationMessageFor(model => model.lockAudit)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="新增" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回評核紀錄", "Index", new { page = ViewBag.CurrentPage, itemsPerPage = ViewBag.CurrentItemsPerPage, sortOrder = ViewBag.OldSortParm, searchString = ViewBag.CurrentFilter })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
