@model appraisal.Models.tsEditViewModels

@{
    ViewBag.Title = "編輯";
}

<h2>編輯</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>評核資料</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.tsa.id)
        @Html.HiddenFor(model => model.pageno)
        @Html.HiddenFor(model => model.v_itemsPerPage)
        @Html.HiddenFor(model => model.v_sortOrder)
        @Html.HiddenFor(model => model.v_currentFilter)

        <div class="form-group">
            @Html.LabelFor(model => model.tsa.emp, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.tsa.emp)
                @Html.DisplayFor(model => model.tsa.emp1.eid)
                @Html.DropDownListFor(x => x.tsa.emp, Model.empList)
                @Html.ValidationMessageFor(model => model.tsa.emp)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tsa.exm, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.tsa.exm)
                @Html.DropDownListFor(x => x.tsa.exm, Model.exmList)
                @Html.ValidationMessageFor(model => model.tsa.exm)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tsa.boss, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.tsa.boss)
                @Html.DisplayFor(model => model.tsa.emp2.eid)
                @Html.DropDownListFor(x => x.tsa.boss, Model.bossList)
                @Html.ValidationMessageFor(model => model.tsa.boss)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tsa.vl, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tsa.vl)
                @Html.ValidationMessageFor(model => model.tsa.vl)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tsa.suggest, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.tsa.suggest, 5, 50, new { })
                @Html.ValidationMessageFor(model => model.tsa.suggest)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tsa.lockAudit, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tsa.lockAudit)
                @Html.ValidationMessageFor(model => model.tsa.lockAudit)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="儲存" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回評核紀錄", "Index", new { page = Model.pageno, itemsPerPage = Model.v_itemsPerPage, sortOrder = Model.v_sortOrder, searchString = Model.v_currentFilter })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
