@model PagedList.IPagedList<appraisal.Models.ts>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{SelectList itemsPerPageList = appraisal.Models.DefaultValues.ItemsPerPageList;}
@{
    ViewBag.Title = "評核紀錄";
}

<h2>評核紀錄</h2>

<p>
    @if (Session["UserGroup"].ToString().Contains("webAdmin01;"))
    {@Html.ActionLink("新增", "Create", new { Page = Model.PageNumber, itemsPerPage = ViewBag.CurrentItemsPerPage, sortOrder = ViewBag.OldSortParm, searchString = ViewBag.CurrentFilter })
    <button class="btn btn-primary" id="ButtonExport" name="ButtonExport">
        匯出資料
    </button>
    @Html.ActionLink("記錄全部刪除並重新匯入", "Renew", new { Page = Model.PageNumber, itemsPerPage = ViewBag.CurrentItemsPerPage, sortOrder = ViewBag.OldSortParm, searchString = ViewBag.CurrentFilter })
    }
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, itemsPerPage = ViewBag.CurrentItemsPerPage, sortOrder = ViewBag.OldSortParm, searchString = ViewBag.CurrentFilter })
                    , new PagedListRenderOptions { LinkToFirstPageFormat = "<<首頁", LinkToPreviousPageFormat = "<上一頁", LinkToNextPageFormat = "下一頁>", LinkToLastPageFormat = "末頁>>", MaximumPageNumbersToDisplay = 5 })
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("卡號", "Index", new { page = 1, itemsPerPage = ViewBag.CurrentItemsPerPage, sortOrder = ViewBag.IDSortParm, searchString = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("員工姓名", "Index", new { page = 1, itemsPerPage = ViewBag.CurrentItemsPerPage, sortOrder = ViewBag.NameSortParm, searchString = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("部門名稱", "Index", new { page = 1, itemsPerPage = ViewBag.CurrentItemsPerPage, sortOrder = ViewBag.DeptSortParm, searchString = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("評核類別", "Index", new { page = 1, itemsPerPage = ViewBag.CurrentItemsPerPage, sortOrder = ViewBag.SubjSortParm, searchString = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("主管姓名", "Index", new { page = 1, itemsPerPage = ViewBag.CurrentItemsPerPage, sortOrder = ViewBag.MangSortParm, searchString = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("評核分數", "Index", new { page = 1, itemsPerPage = ViewBag.CurrentItemsPerPage, sortOrder = ViewBag.VLSortParm, searchString = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.emp1.eid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emp1.cname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emp1.dep.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.exm1.subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emp2.cname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vl)
            </td>
            <td>
                @if (Session["UserGroup"].ToString().Contains("webAdmin01;"))
                {@Html.ActionLink("編輯", "Edit", new { id = item.id, Page = Model.PageNumber, itemsPerPage = ViewBag.CurrentItemsPerPage, sortOrder = ViewBag.OldSortParm, searchString = ViewBag.CurrentFilter })}
                | @Html.ActionLink("明細", "Details", new { id = item.id, Page = Model.PageNumber, itemsPerPage = ViewBag.CurrentItemsPerPage, sortOrder = ViewBag.OldSortParm, searchString = ViewBag.CurrentFilter }) |
                @if (Session["UserGroup"].ToString().Contains("webAdmin01;"))
                {@Html.ActionLink("刪除", "Delete", new { id = item.id, Page = Model.PageNumber, itemsPerPage = ViewBag.CurrentItemsPerPage, sortOrder = ViewBag.OldSortParm, searchString = ViewBag.CurrentFilter }) }
            </td>
        </tr>
    }

</table>
@if (Model != null && Model.PageCount > 0)
{
    <div>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    </div>
}
@using (Html.BeginForm())
{
    if (Model != null)
    {
        <fieldset>
            設定每頁筆數 :
            @Html.DropDownList("ItemsPerPage", itemsPerPageList, new { @id = "ItemsPerPageList" })
            尋找關鍵字(輸入*可以取消查詢條件): @Html.TextBox("searchString")
            前往頁次: @Html.TextBox("page")
            <input type="submit" value="送出" />
        </fieldset>
    }
}

@section scripts
{
    <script src="~/Scripts/bootbox.js"></script>
    <script src="~/Scripts/jquery.form.js"></script>
    <script src="~/Scripts/project.js"></script>
    <script src="~/Scripts/project.extends.js"></script>
    <script src="~/Scripts/project.ZipCode.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var actionUrls = {
                Upload: '@Url.Action("Upload", "ts")',
                Import: '@Url.Action("Import", "ts")',
                HasData: '@Url.Action("HasData", "ts")',
                ExportData: '@Url.Action("Export", "ts")'
            };
            project.ZipCode.Initialize(actionUrls);
        });
    </script>
}
