@model appraisal.Models.actlog

@{
    ViewBag.Title = "刪除";
}

<h2>刪除</h2>

<h3>您確定要刪除使用紀錄嗎?</h3>
<div>
    <h4>使用紀錄</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.App)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.App)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pepo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pepo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Act)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Act)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ext)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ext)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tm)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("返回使用紀錄清單", "Index")
        </div>
    }
</div>
