@model appraisal.Models.exm

@{
    ViewBag.Title = "刪除";
}

<h2>刪除</h2>

<h3>您確定要刪除這個評核種類嗎?</h3>
<div>
    <h4>評核種類</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sn)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="刪除" class="btn btn-default" /> |
            @Html.ActionLink("返回評核種類清單", "Index")
        </div>
    }
</div>
